*.DS_Store
*.log
*.idea
*.db
bin
node_modules
routes
package.json
app.js
views/to_other_side2
views/to_other_side3
views/to_other_side4
views/error.jade
views/index.jade
views/layout.jade
public/js/1
public/js/2
public/js/3
public/js/4

