div#turnContainer.turnContainer
   span.
      White: 1 Turn

div#newTurnContainer.newTurnContainer
   span.
      White Player Turn

div#menuIcon.menuIcon

div#playerIconContainer.playerIconContainer
   div#playerIcon.playerIcon.playerIcon__on
   br
   div#sl.sl