div.modalWrapper
    div.modalLayout
    div.modalContainer
        div.modalInner
            //close
            div.modalContent
                h1
                div.modalText
            //location  + retry

input(type='button', class='retry-btn btn', value='Retry game?')
