div#modalWrapper.modalWrapper
    div#modalLayout.modalLayout
    div#modalContainer.modalContainer
        //close
        div.modalContent
            h1
            div#modalText.modalText
        //location  + retry
